<!DOCTYPE html>
<html>
<style type="text/css">
    .overlay-background {
      display: none;
      position: fixed;
      top: 0;
      left:0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
      background-opacity: .1;
    }

    .overlay-content{
      display: none;
      position: fixed;
      background: #fff;
      padding: 100%;
      width: 50%;
      top: 15%;
      left: 25%;
      cursor: default;
      z-index: 10;
      border-radius: 50px;
      opacity: 1;
    }

    .centered-content {
      background-color: #E0DBE6;
      padding: 20px;
      width: 400px;
      height:200px;
      margin: auto;
      opacity: 1;
    }

    .button {
      font-size:20px; 
      font-family: 'Lato'; 
      border-radius: 1px;
      opacity: .7;
    }

    .button-box2 {
      font-size:20px; 
      font-family: 'Lato'; 
      border-radius: 1px;
      opacity: .7;
      width: 50%;
      top: 10%;
      left: 10%;
    }


    .button3 {
      text-align: left; 
      font-size:20px; 
      font-family: 'Lato'; 
      border-radius: 1px;
      opacity: .7;

    h1 {
      font-size: 20px; 
      font-family: 'Lato';
    }

    
  </style>




START TABLE HERE TOMORROW!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!







<header style = "background-color: #58586E">

   <button class= 'button3' onclick = 'loginPopUp()' type = "button3" id = "Login">USER PHOTO</button>


  <!DOCTYPE html>
<html lang="en">
<head>
  <title>My Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=100px, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Hello, Montse!</h1>
  <p>What is your goal for today?</p>      
  
  <div class="w3-row">
  <div class="w3-container w3-half">
    <h2>User: </h2> 
    

              <!DOCTYPE html>
        <html>
        <body>

        <rel-center>
        <img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">
            <rel-center> 
                <h2>Montse</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html>



  </div>
  <div class="w3-container w3-half">
    <h2>Find New Mentors:</h2> 
      <button class= 'button' type = "button" id = "Mentor"> Find New Mentors</button>
  </div>
    <div class="w3-container w3-half">
    <h2>My Mentors</h2> 
       <button class= 'button' type = "button" id = "Mentor"> My New Mentors</button>  </div>
    <div class="w3-container w3-half">
    <h2>Edit Profile</h2> 
       <button class= 'button' type = "button" id = "Mentor"> Profile Settings</button>
  </div>



  <CENTER>
    <div>
      <br>
    </CENTER>




</div>
  


</header>

</html>