<!DOCTYPE html>
<html>
<header style = "background-color: #EFEBD6">
  <style type="text/css">
    .overlay-background {
      display: none;
      position: fixed;
      top: 0;
      left:0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
    }

    .overlay-content{
      display: none;
      position: fixed;
      background: #fff;
      padding: 1%;
      width: 50%;
      top: 15%;
      left: 25%;
      cursor: default;
      z-index: 10;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba (0,0,0,0.9);


    }

    
  </style>

  <script type = "text/javascript">
    showPopUp = function(popUpContent) {
      document.getElementById("overlay").style.display = "block";
      document.getElementById("popUp").style.display = "block";
    }

    joinPopUp = function() {
      showPopUp('join');
    }

    loginPopUp = function() {
      showPopUp('login');
    }

  </script>

  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <div style = "float: right">
    <button onclick= 'joinPopUp()' type = "button" id = "Join" style = "font-size:20px; font-family: 'Shadows Into Light', cursive; border-radius: 25px">Join</button>
    <button onclick = 'loginPopUp()' type = "button" id = "Login" style = "font-size:20px; font-family: 'Shadows Into Light', cursive; border-radius: 25px">Login</button>

  </div>

  



</header>

<body style = "background-color: #EFEBD6">
  <CENTER>
    <div>
      <br><br><br><br><br><br><br>
      <h1 style = "font-size: 70px; font-family: 'Indie Flower'";> GROWTH <br> AWAITS </h1>
       <div>
    <button type = "button" id = "Mentor" style = "font-size:20px; font-family: 'Shadows Into Light', cursive; border-radius: 25px" >Join As A Mentor</button>
    <button type = "button" id = "Mentee" style = "font-size:20px; font-family: 'Shadows Into Light', cursive; border-radius: 25px">Join As A Mentee</button>

  </div>



    </div>
  </CENTER>




</body>

<div style = "position: absolute; left: 50; bottom: 0">
    <button type = "button" id = "Meet" style = "font-size:20px; font-family: 'Shadows Into Light', cursive; border-radius: 25px">Meet Mentors</button>

</div>

<div id = "overlay" class = "overlay-background"> </div>
<div id = "popUp" class = "overlay-content"> </div>

</html>
