<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .overlay-background {
      display: none;
      position: fixed;
      top: 0;
      left:0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
    }

    .overlay-content{
      display: none;
      position: fixed;
      background: #fff;
      padding: 1%;
      width: 50%;
      top: 15%;
      left: 25%;
      cursor: default;
      z-index: 10;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba (0,0,0,0.9);
    }

    .centered-content {
      background-color: white;
      padding: 20px;
    }

    .button {
      font-size:20px; 
      font-family: 'Shadows Into Light' cursive; 
      border-radius: 25px;
    }
    h1 {
      font-size: 70px; 
      font-family: 'Indie Flower';
    }

    
  </style>


  <script type = "text/javascript">

    showPopUp = function() {
      document.getElementById("overlay").style.display = "block";
      document.getElementById('loginPop').style.display = "block";
    }

    closePopUp = function() {
      document.getElementById("overlay").style.display = "none";
      document.getElementById("loginPop").style.display = "none";
    }

  </script>

  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>


  



</head>

<body style = "background-color: #EFEBD6">
  <div style = "float: right">
    <button class= 'button' type = "button" id = "Join"><a style="none" href="/join">Join</a></button>
    <button class= 'button' onclick = 'showPopUp()' type = "button" id = "Login">Login</button>
  </div>
  <br><br><br><br><br><br><br>
  <CENTER class='centered-content'>
    <div>
      <h1> GROWTH <br> AWAITS </h1>
    <div>
    <button class= 'button' type = "button" id = "Mentor"> Join As A Mentor</button>
    <button class='button' type = "button" id = "Mentee"> Join As A Mentee</button>
  </CENTER>


  <div id = "overlay" class = "overlay-background"> </div>


  <div id = "loginPop" class = "overlay-content">
    <button type="button" onclick='closePopUp()'>X</button>

    <CENTER><h1>Welcome to WeMentor!</h1>
    <div>Please log in with your LinkedIn account!</div></CENTER>
    <form>
      LinkedIn Username:
      <input type="text" name="username">
      <br>
      Password:
      <input type="text" name="password">
    </form>
    <button type = "button" id="signIn" style = "font-size:20px; font-family: 'Shadows Into Light', cursive; border-radius: 25px">Sign In!</button>
  </div>
  </div>
</body>
</html>
