<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>


   <form action="action_page.php">
    <br>
    <input type="text" name="firstname" value="">



  <div class='outer-container'>
    <div class="container" style="width:200px; float:left">
        <h2>Search by Keyword</h2>
                                              
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HI!</a></li>
            <li><a href="#">HI AGAIN</a></li>
            <li><a href="#">JHEY WASSSUP HELLO</a></li>
          </ul>
        </div>
      </div>
    <div class="container"style="width:200px; float:left">
        <h2>Search by Industry</h2>
                                              
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </div>
    <div class="container"style="width:200px; float:left">
      <h2>Search by Expertise</h2>
                                            
      <div class="dropdown"style="width:200px; float:right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
    <div class="container"style="width:200px; float:left">
      <h2>Search by Demographics</h2>
                                            
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
  </div>


<table style="width:100%">
  <tr>
    <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>
      <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>   
      <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>
  </tr>
  <tr>
     <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>
      <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>     
      <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>
  </tr>
  <tr>
      <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>
      <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>    
    <td>
            <!--PHOTO!!!!-->

              <html>
        <body>

        <rel-center>
           <canvas id="circlecanvas" width="100" height="100"></canvas>
                <script>
                  var canvas = document.getElementById("circlecanvas");
                  var context = canvas.getContext("2d");
                  context.arc(50, 50, 50, 0, Math.PI * 2, false);
                  context.fill()
                </script>
            <rel-center> 
                <h2>BIO!!!!!!</h2>
            </rel-center>
            
        </rel-center>

        </body>
              </html> 
          


    </td>
  </tr>
</table>

</body>

</html>
