<!--mentee information-->

<!DOCTYPE html>
<html>
<style type="text/css">
    .overlay-background {
      display: none;
      position: fixed;
      top: 0;
      left:0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
      background-opacity: .1;
    }

    .overlay-content{
      display: none;
      position: fixed;
      background: #fff;
      padding: 100%;
      width: 50%;
      top: 15%;
      left: 25%;
      cursor: default;
      z-index: 10;
      border-radius: 5px;
      opacity: 1;
    }

    .centered-content {
      background-color: #E0DBE6;
      padding: 20px;
      width: 400px;
      height:200px;
      margin: auto;
      opacity: 1;
    }

    .button {
      font-size:20px; 
      font-family: 'Lato'; 
      border-radius: 1px;
      opacity: .7;
    }

    .button-box2 {
      font-size:20px; 
      font-family: 'Lato'; 
      border-radius: 1px;
      opacity: .7;
      width: 50%;
      top: 10%;
      left: 10%;

    }

    h1 {
      font-size: 20px; 
      font-family: 'Lato';
    }

    
  </style>

<center>
<header style = "background-color: #58586E">
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>My Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=100px, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <h1>Choose your experience:</h1>
  <form action="">

  <button class= 'button' type = "button" id = "Mentor"> Mentor</button>
  <button class='button' type = "button" id = "Mentee"> Mentee</button>
<br>
  </br>
</form>



<form action="action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Personal Bio<br>
  <input type="text" name="lastname" value="">
  <br>
  Personal Bio:<br>
  <input type="text" name="firstname" value="">
  <br>
  Looking For:<br>
  <input type="text" name="lastname" value="">
  <br>
  Potential Career Paths:<br>
  <input type="text" name="firstname" value="">
  <br>
  Industry Interests:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  
  <input type="submit" value="Update Profile">
</form>


  <CENTER>
    <div>
      <br>
    </CENTER>




</div>
  


</header>
</center>
</html>