<!DOCTYPE html>
<html>
<style type="text/css">
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    margin: auto;    
    width:200px;
    float:left;
    padding:5px; 
    ;
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>




<header style = "background-color: #58586E">
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>My Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=10px, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

<body>

<div id="header">
<h1>Hi, I'm Montse!</h1>
</div>

<div id="nav">
PICTURE GOES HERE<br>
BIO<br>
BIO<br>
BIO<br>
<br>
"BIO" UNDERLINED WORD<br>
ACTUAL BIO<br>
BIO<br>

LINKEDIN BUTTON GOES HERE<br>
RESUME BUTTON GOES HERE<br>


</div>

<div id="section">
<h1>Looking for: </h1>
<p>
THIS IS THE KIND OF MENTOR I AM LOOKING FOR!!!!!

<br> 
</p>
<p>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                  
                            <a href="ppc.html" class="btn btn-block btn-primary">Encourage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Referrals and Encouragements:</h1>
                            <hr />
                            <p>
                              Singer. Lover of people. Future of music. 
                            </p>
                            <br />
                        
                        </div>
                    </div>
                </div>
</p>
</div>

<div id="footer">
Copyright © WeMentor
</div>

</body>






</div>
  


</header>

</html>